$font-slab: "McClatchy Slab", Georgia, serif !default;
$font-sans: "McClatchy Sans", Helvetica, sans-serif !default;
$font-cond: "McClatchy Sans Cond", "Helvetica Condensed", sans-serif !default;

.slab {
  font-family: $font-slab;
}

.sans {
  font-family: $font-sans;
}

.sans-cond {
  font-family: $font-cond;
}

.mono {
  font-family: monospace;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.soft {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
