[id^="content-body"] > * {
  max-width: 760px;
  margin: 20px auto;
}

figure img {
  display: block;
  max-width: 100%;
}

figcaption {
  margin-top: 4px;
}

blockquote {
  font-size: 2em;
}

story-header {
  display: block;
}
