/**
 * Fonts
 **/

@font-face {
  font-family: "Lyon";
  src: url(fonts/LyonTextWeb-Regular.woff) format('woff');
}

@font-face {
  font-family: "Lyon";
  font-weight: bold;
  src: url(fonts/McClatchySerif-Demi.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Slab";
  src: url(fonts/McClatchySlab-Regular.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Slab";
  font-weight: bold;
  src: url(fonts/McClatchySlab-Semibold.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans";
  src: url(fonts/McClatchySans-Regular.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans";
  font-weight: bold;
  src: url(fonts/McClatchySans-Semibold.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans Cond";
  src: url(fonts/McClatchySansCond-Semibold.woff) format('woff');
}
